<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
  <meta charset="utf-8">
  <title th:text="${user.name}">田中太郎</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" type="text/css">
</head>

<body>
  <div th:replace="header::header"></div>
  <div class="py-5">
    <div class="container py-1">
      <div class="row">
        <div class="col-md-12">
          <h2 th:text="${user.name}">田中太郎</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form id="c_form-h" class="">
            <div class="form-group row">
              <legend class="col-2 col-form-label">ID</legend>
              <div class="col-10">
                <p th:text="${user.id}">1</p>
              </div>
            </div>
            <div class="form-group row">
              <legend class="col-2 col-form-label">名前</legend>
              <div class="col-10">
                <p th:text="${user.name}">田中太郎</p>
              </div>
            </div>
            <div class="form-group row">
              <legend class="col-2 col-form-label">年齢</legend>
              <div class="col-10">
                <p th:text="${user.age}">10</p>
              </div>
            </div>
            <div class="form-group row">
              <legend class="col-2 col-form-label">性別</legend>
              <div class="col-10">
                <p th:text="#{|user.field.gender.${user.gender}|}">男</p>
              </div>
            </div>
            <div class="form-group row">
              <legend class="col-2 col-form-label">権限</legend>
              <div class="col-10">
                <p th:text="#{|user.field.role.${user.role}|}">田中太郎</p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}" type="text/javascript"></script>
  <script th:src="@{/webjars/popper.js/1.15.0/umd/popper.min.js}" type="text/javascript"></script>
  <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}" type="text/javascript"></script>

</body>

</html>
