<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" type="text/css">
  <title>ユーザ一覧</title>
</head>

<body>
  <div th:replace="header::header"></div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>ユーザ一覧</h2>
        </div>
      </div>
    </div>
    <div sec:authorize="hasAnyRole('OWNER','MANAGER')" class="container py-1">
      <div class="row">
        <div class="col-md-12 text-right">
          <a class="btn btn-primary" th:href="@{/users/create}">新規登録</a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Age</th>
                  <th>Gender</th>
                  <th>Role</th>
                  <th sec:authorize="hasAnyRole('OWNER')"></th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="user : ${users}">
                  <th th:text="${user.id}">1</th>
                  <td><a th:href="@{/users/{id}(id=${user.id})}" th:text="${user.name}">Mark</a></td>
                  <td th:text="${user.age}">Jacob</td>
                  <td th:text="#{|user.field.gender.${user.gender}|}">Jacob</td>
                  <td th:text="#{|user.field.role.${user.role}|}">Jacob</td>
                  <td sec:authorize="hasAnyRole('OWNER')">
                    <form method="post" th:action="@{/users/{id}(id=${user.id})}">
                      <input type="hidden" name="_method" value="delete"/>
                      <input class="btn btn-dark rounded" type="submit" value="削除">
                    </form>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}" type="text/javascript"></script>
  <script th:src="@{/webjars/popper.js/1.15.0/umd/popper.min.js}" type="text/javascript"></script>
  <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}" type="text/javascript"></script>
</body>

</html>
