<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
	<link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body>
<div class="drawer" th:fragment="header">
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<div class="container"> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar12">
			<span class="navbar-toggler-icon"></span>
		</button>
			<div class="collapse navbar-collapse" id="navbar12">
				<a class="navbar-brand d-none d-md-block" th:href="@{/users}"><i class="fa d-inline fa-lg fa-circle"></i><b> BRAND</b></a>
				<ul class="navbar-nav mx-auto">
					<li class="nav-item"> <a class="nav-link" href="#">Features</a> </li>
					<li class="nav-item"> <a class="nav-link" href="#">Pricing</a> </li>
					<li class="nav-item"> <a class="nav-link" href="#">About</a> </li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item"> <a class="nav-link" href="#">Log in</a> </li>
					<li class="nav-item"> <a class="nav-link text-primary" href="#">Register</a> </li>
				</ul>
			</div>
		</div>
	</nav>
</div>
</body>

</html>
